<form class="login-form">
  <div class="signup-form">
    <label for="username-signup">Username</label>
    <br>
    <input type="text" class="form-control" id="username-signup"  placeholder="Enter username">
  </div>
  <br>
  <div class="form-group">
    <label for="password-signup">Password</label>
    <br>
    <input type="password" class="form-control" id="password-signup" placeholder="Password">
    <br>
  </div>
  <br>
  <button id="signup-button" class="btn-primary">Sign Up!</button>
</form>

<script src="../js/signup.js"></script>