/* Global */

body {
    height: 100vh;
    width: 100vw;

    background-color: rgb(65, 65, 65);

    
    
}

p {
    color: white;
}

i {
    color: white;
}

.main-body-parent {
    height: 80%;
    width: 100%;

    
}


.main-article-parent {
    height: 100%;
    width: 100%;
    padding-top: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

/* fonts for reference 


font-family: 'EB Garamond', serif;
font-family: 'Libre Baskerville', serif;

*/

/* Header */

.header-alpha-parent {
    height: 20%;
    width: 100%;
    
}

.header-upper-parent {
    height: 20%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.account-btn-parent {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-top: 5px;
}

.account-btn {
    font-family: 'Libre Baskerville', serif;
    color: white;
}

.header-lower-parent {
    height: 80%;
    width: 100%;
    background-color:rgb(40, 39, 39);
    display: flex;

    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: gold; 
}

.header-lower-left { 
    height: 100%;
    width: 15%;
}

.header-main-text-parent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 5%;
}

.header-site-title {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 4vh;
}

.header-hover:hover {
    color: goldenrod;
}

.header-lower-right {
    height: 100%;
    width: 85%;
}

.dashboard-parent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 5%;
    padding-top: 95%;
}

.dashboard-text {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 2vh;
}

/* Login */

.login-form {
    height: 25%;
    width: 25%;
    background-color: rgb(94, 3, 3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Libre Baskerville', serif;

    
    border-style: solid;
    border-radius: 200px;
    border-width: 2px;
    border-color: goldenrod;
    box-shadow: 15px 15px 35px 3px rgb(255, 255, 255);

    color: goldenrod;

}

.sign-in-title {
    font-size: x-large;
    font-family: 'EB Garamond', serif;
}

.btn-primary {
    background-color: rgb(94, 3, 3);
    color: goldenrod ;
    border: 2px goldenrod solid;
    padding: 4px;

}

.btn-primary:hover {
    color: gold;
    background-color: rgb(172, 0, 0) ;
}




